body {
    margin: 0;
    padding: 0;
    font-family: Muli;
    letter-spacing: 0.4px;
    font-weight: bold;
  }

.answer_title {
    font-size: 25px;
    text-align: center;
}

.answer_option {
    color: #fff;
    font-size: 20px;
}

.answer_list {
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(250, 145, 97, 0.7), rgba(247, 59, 28, 0.69));
}

.App {
    text-align: center;
  }
  
.App-header {
    height: 50px;
    padding: 10px;
    color: black;
    background-color: #D3D3D3;
    margin: -20px;
}
  
.App-title {
    font-size: 1.5em;
}

.verdict {
  padding: 20px;
}

/* SWITCH STYLES */

.switch {
    position: relative;
    display: inline-block;
    width: 309px;
    height: 50px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: none;
    border: solid 2px #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 43px;
    width: 45px;
    left: 3px;
    bottom: 2px;
    background-color: rgba(195, 51, 51, 0.5);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: none;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px none;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(255px);
    -ms-transform: translateX(255px);
    transform: translateX(255px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 100px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.on {
  text-align: left;
  margin-left: 10px; 
  margin-top: 12px;
}

.off {
  text-align: right;
  margin-left: 10px; 
  margin-top: 12px;
}